body {
    margin: 0;
}

.wrapper {
    background-image: url(../img/bakgrund.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

header {
    color: lightgoldenrodyellow;
    font-family: 'Lacquer', sans-serif;
    grid-column: auto/ span 2;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-image: url(../img/safaribakgrund.jpg);
}

header h1 {
    padding: 0 10px;
    text-align: center;
}

nav {
    grid-column: auto / span 2;
    background-color: #ff9100;
    display: flex;
}
 
nav a {
    font-family: 'Archivo Narrow', sans-serif;
    text-decoration: none;
    padding: 1rem;
    flex: 1;
    text-align: center;
    color: black;
}

nav a:hover {
    background-color: #ff5e00;
    flex: 2;
}

.box {
    grid-column: auto/ span 1;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
 }

 .box--big {
    grid-column: auto/ span 2;
 }

.picture {
    box-shadow: #ff9100 0.1rem 0.1rem 0.5rem 0.5rem;
    width: 100%;
}

h3 {
    color: lightgoldenrodyellow;
    font-family: 'Lacquer', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
p {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgb(255, 196, 0)
}

footer {
    grid-column: auto/ span 2;
}

.contactheader {
    grid-column: auto/ span 2;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-image: url(../img/safaribakgrund.jpg);
}
    
.contactsection p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem;
}
.contactsection p a {
    text-decoration: none;
    color: rgb(255, 196, 0)
}

@media only screen and (max-width: 500px) {
    .wrapper { 
        max-width: 500px;
        grid-template-columns: 100%;
    }

    header, .contactheader {
        grid-column: auto/ span 1;
        height: 50vh;
    }

    nav,
    .box--big,
    footer {
        grid-column: auto / span 1;
    }
}